<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title th:text="${titulo}">Index</title>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css"> -->
<!-- <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"> -->

<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
<link rel="stylesheet" th:href="@{../../css/style.css}" />

</head>

<body>

	<!-- row wrapper -->
	<div class="wrapper row">

		<!-- sidebar -->
		<nav th:fragment="nav" class="sidebar col-md-2 text-left border-right border-primary rounded-right">
			<a th:href="@{/}" class="nav-link" th:class="${classActiveLinkIndex} ? ${classActiveLinkIndex} : 'nav-link' ">
				<h1 class="h4">Admin Productos</h1>
			</a>
			<hr>
			<ul class="nav flex-column mt-5">
				<li class="nav-item">
					<a class="nav-link" th:class="${classActiveLinkProductos} ? ${classActiveLinkProductos} : 'nav-link' " th:href="@{/productos}"> 
						<i class="fas fa-table mr-2"></i> Productos <span class="float-right">></span>
					</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" th:class="${classActiveLinkCategorias} ? ${classActiveLinkCategorias} : 'nav-link'"	th:href="@{/categorias}"> 
						<i class="fas fa-align-left mr-2"></i> Categorías <span class="float-right">></span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- end sidebar -->

		<!-- main -->
		<div class="main col-md-10 bg-info text-center">

			<!-- header -->
			<header th:fragment="header"
				class="header d-flex position-relative shadow-sm bg-white">
				<div class="divider d-none d-sm-block ml-auto"></div>
				<span class="small text-black-50 mx-1 align-self-center">Miriam
					Lorca</span> <img class="img-profile img-fluid rounded-circle p-3 float-left"
					src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=40&h=40&fit=crop&ixid=eyJhcHBfaWQiOjF9"
					alt="Imagen de perfil de usuario">
			</header>

			<!-- content -->
			<section class="content">
				Section

				<!-- Footer -->
				<footer th:fragment="footer" class="footer shadow-lg text-secondary container-fluid">
					<div class="container my-auto">
						<div class="text-center my-auto">
							<span>Footer | Spring MVC + Thymeleaf</span>
						</div>
					</div>
				</footer>
			</section>


		</div>
		<!-- end main -->

	</div>
	<!-- end row wrapper -->

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

	<div th:replace="layout/fragments/scripts :: scripts"></div>

</body>

</html>