
<div th:if="${success!=null or danger!=null or info!=null or error!=null}"
	id="divAlerts" class="p-0 mx-auto w-100" th:fragment="flash-messages">
	<div
		class="alert alert-success alert-dismissible fade show text-left mb-1"
		th:if="${success != null}" id="alert-success">
		<strong th:text="${success}"></strong>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close"
			th:onclick="document.getElementById('alert-success').style.display='none';">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div
		class="alert alert-danger alert-dismissible fade show text-left mb-1"
		th:if="${danger != null}" id="alert-danger">
		<strong th:text="${danger}"></strong>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close"
			th:onclick="document.getElementById('alert-danger').style.display='none';">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div
		class="alert alert-info alert-dismissible fade show text-left mb-1"
		th:if="${info != null}" id="alert-info">
		<strong th:text="${info}"></strong>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close"
			th:onclick="document.getElementById('alert-info').style.display='none';">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div
		class="alert alert-danger alert-dismissible fade show text-left mb-1"
		th:if="${error != null}" id="alert-danger">
		<strong th:text="${error}"></strong>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close"
			th:onclick="document.getElementById('alert-danger').style.display='none';">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div th:unless="${success!=null or danger!=null or info!=null or error!=null}" class="m-0 d-none"></div>