<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:fragment="paginator">
		<ul class="pagination pagination-sm justify-content-end mb-0">
			<li class="page-item"
				th:class="${page.first ? 'page-item disabled' : 'page-item'}">
				<span class="page-link" th:if="${page.first}">primera</span> <a
				class="page-link" th:unless="${page.first}"
				th:href="@{${page.url}(page=0)}">primera</a>
			</li>
			<li class="page-item"
				th:class="${not page.hasPrevious ? 'page-item disabled' : 'page-item'}">
				<a class="page-link" th:if="${page.hasPrevious}"
				th:href="@{${page.url}(page=${page.paginaActual - 2})}">anterior</a>
				<span class="page-link" th:unless="${page.hasPrevious}">anterior</span>
			</li>
			
			<li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual ? 'page-item active' : 'page-item'}"><span
				class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
				<a class="page-link" th:unless="${item.actual}"
				th:href="@{${page.url}(page=${item.numero - 1})}"
				th:text="${item.numero}"></a>
			</li>
			
			<li class="page-item"
				th:class="${not page.hasNext ? 'page-item disabled' : 'page-item'}">
				<a class="page-link" th:if="${page.hasNext}"
				th:href="@{${page.url}(page=${page.paginaActual})}">siguiente</a> <span
				class="page-link" th:unless="${page.hasNext}">siguiente</span>
			</li>
			<li class="page-item"
				th:class="${page.last ? 'page-item disabled' : 'page-item'}"><span
				class="page-link" th:if="${page.last}">última</span> <a
				class="page-link" th:unless="${page.last}"
				th:href="@{${page.url}(page=${page.totalPaginas - 1})}">última</a>
			</li>
		</ul>
	</nav>
</body>
</html>