<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head" />

<body>

	<!-- row wrapper -->
	<div class="wrapper row text-white">

		<!-- sidebar -->
		<nav th:replace="layout/layout :: nav"></nav>

		<!-- main -->
		<div class="main col-md-10 bg-info">

			<!-- header -->
			<header th:replace="layout/layout :: header"></header>

			<!-- content -->
			<section th:fragment="formularioGuardar"
				class="content text-info overflow-auto">


				<div class="container my-auto mx-5">
				
					<h3 class="text-primary" 
						th:text="${botonSubmit == 'Guardar'} ? ' Crear nuevo producto ' : ' Editar producto '">
					</h3><hr />
					
					<form th:action="@{/productos/save}" th:object="${producto}"
						method="post" novalidate>

						<!-- Campo id oculto -->
						<input type="hidden" th:field="*{id_prod}" />

						<div class="form-row">
							<div class="form-group col">
								<label for="inputName">Nombre</label> <input type="text"
									autofocus="autofocus" class="form-control" id="inputName"
									th:field="*{nombre_prod}"
									th:errorclass="'form-control alert-danger focus-error'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('nombre_prod')}"
									th:text="${'Debe contener al menos 3 caracteres'}"></small>
							</div>
							<div class="form-group col">
								<label for="inputFabricante">Fabricante</label> <input
									type="text" class="form-control" id="inputFabricante"
									th:field="*{fabricante_prod}" />
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<label for="inputDetalles">Detalles</label>
								<textarea class="form-control" id="inputDetalles"
									th:field="*{detalle_prod}"></textarea>
							</div>
							<div class="form-group col">
								<label for="inputDescripcion">Descripcion</label>
								<textarea class="form-control" id="inputDescripcion"
									th:field="*{descripcion_prod}"></textarea>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<label for="inputPrecio">Precio</label> <input type="text"
									class="form-control" id="inputPrecio" th:field="*{precio_prod}"
									th:errorclass="'form-control alert-danger focus-error'" />

								<!-- 								<small class="form-text text-danger" th:if="${#fields.hasErrors('precio_prod')}"  -->
								<!-- 									   th:text="${'Debe contener un número con un máximo de dos decimales'}"></small> -->

								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('precio_prod')}"
									th:errors="*{precio_prod}"></small>
							</div>
							<div class="form-group col">
								<label for="inputStock">Stock</label> <input type="number"
									class="form-control" id="inputStock" th:field="*{stock_prod}"
									th:errorclass="'form-control alert-danger focus-error'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('stock_prod')}"
									th:errors="*{stock_prod}"></small>

							</div>
						</div>
						<button type="submit" class="btn btn-primary"
							th:text="${botonSubmit}"></button>
					</form>
				</div>

				<!-- Footer -->
				<footer th:replace="layout/layout :: footer"></footer>

			</section>


		</div>
		<!-- end main -->

	</div>
	<!-- end row wrapper -->

</body>

</html>