<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head" />

<body>

	<!-- row wrapper -->
	<div class="wrapper row text-white text-center">

		<!-- sidebar -->
		<nav th:replace="layout/layout :: nav"></nav>

		<!-- main -->
		<div class="main col-md-10 bg-info">

			<!-- header -->
			<header th:replace="layout/layout :: header"></header>

			<!-- content -->
			<section th:fragment="listado"
				class="content text-info overflow-auto">

				<div th:replace="layout/fragments/flash-messages :: flash-messages"></div>

				<!-- Card listado productos -->
				<div class="card shadow-sm text-left table-responsive">
				
					<div class="card-header">
						<h1 class="h5 font-weight-bold text-primary">Listado de	productos</h1>
					</div>
					
					<!-- card-body -->
					<div class="card-body">

						<a th:href="@{/productos/formGuardar}"
							class="text-primary pb-3 d-inline-block nav-link"> <i
							class="fa fa-plus-circle mr-1" aria-hidden="true"></i> Crear
							producto
						</a>

						<table class="table table-sm table-hover text-center" th:if="${not #lists.isEmpty(productos.getContent())}">
							<thead>
								<tr>
									<th>ID</th>
									<th>Categoria</th>
									<th>Nombre</th>
									<th>Fabricante</th>
									<th>Detalle</th>
<!-- 									<th>Descripcion</th> -->
									<th class="text-center">Precio</th>
									<th class="text-center border-right">Stock</th>
									<th class="text-center">Editar</th>
									<th class="text-center">Eliminar</th>
									<th class="text-center">Detalle</th>
								</tr>
							</thead>
							<tbody class="small">
								<tr th:each="producto : ${productos}">

									<td class="text-center font-weight-bold"
										th:text="${producto.id_prod}"></td>
									<td
										th:text="${producto.categoria_prod != null} 
												 ? ${producto.categoria_prod.nombre_cat} :'Sin categoría'"></td>
									<td th:text="${producto.nombre_prod}"></td>
									<td th:text="${producto.fabricante_prod}"></td>
									<td th:text="${producto.detalle_prod}"></td>
<!-- 									<td th:text="${producto.descripcion_prod}"></td> -->
									<td class="text-center" th:text="${producto.precio_prod} + ' €'"></td>
									<td class="text-center border-right" th:text="${producto.stock_prod}"></td>
									
									<!-- Botones -->
									<td class="text-center no-bg">
										<a th:href="@{/productos/formEditar/} + ${producto.id_prod}">
											<i class="fas fa-edit text-primary"></i>
										</a>
									</td>
									<td class="text-center no-bg">
										<a class="show-alert" data-toggle="modal" href="#exampleModal"> 
											<i class="fas fa-trash-alt text-danger"></i>
										</a>
									</td>
									<td class="text-center no-bg">
										<a th:href="@{/productos/detalle/} + ${producto.id_prod}"> 
											<i class="fas fa-list-alt text-info"></i>
										</a>
									</td>
									<!-- EndBotones -->
									
									<!-- Modal -->
									<div class="modal fade" data-backdrop="static"
										id="exampleModal" tabindex="-1" role="dialog"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header"></div>
												<div class="modal-body text-secondary">¿Seguro que
													quiere eliminar el producto?</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Cerrar</button>
													<a th:href="@{/productos/delete/} + ${producto.id_prod}"
														class="btn btn-danger">Eliminar</a>
												</div>
											</div>
										</div>
									</div>
									<!-- End Modal -->

								</tr>
							</tbody>
						</table>
						
						<div th:unless="${not #lists.isEmpty(productos.getContent())}">
							<hr class="mt-0" />
							<h6 class="text-info" th:text="'No existen productos para mostrar'"></h6>
						</div>

						

					</div>
					<!-- End card-body -->
					
					
					<div class="card-footer">
						<nav th:replace="layout/fragments/paginator-nav :: paginator"></nav>
					</div>
				</div>
				<!-- End Card listado productos -->


				<!-- Footer -->
				<footer th:replace="layout/layout :: footer"></footer>

			</section>
			<!-- End content -->


		</div>
		<!-- end main -->


	</div>
	<!-- end row wrapper -->

	<div th:replace="layout/fragments/scripts :: scripts"></div>

</body>

</html>