<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head" />

<body>

	<!-- row wrapper -->
	<div class="wrapper row text-white text-center">

		<!-- sidebar -->
		<nav th:replace="layout/layout :: nav" />

		<!-- main -->
		<div class="main col-md-10 bg-info">

			<!-- header -->
			<header th:replace="layout/layout :: header" />

			<!-- content -->
			<section th:fragment="listado" class="content text-info overflow-auto">
			
				<div th:replace="layout/fragments/flash-messages :: flash-messages"></div>
			
				<!-- Card listado de categorías -->
				<div class="card shadow-sm text-left mx-5 my-5 table-responsive">
					<div class="card-header">
						<h1 class="h5 font-weight-bold text-primary">Listado de
							categorias</h1>
					</div>
					<div class="card-body">
						<a th:href="@{/categorias/formGuardar}"
							class="text-primary pb-3 d-inline-block nav-link"> <i
							class="fa fa-plus-circle mr-1" aria-hidden="true"></i> 
							
							Crear categoría
						</a>
						<table th:if="${not #lists.isEmpty(categorias.getContent())}"
							class="table table-hover text-center">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nombre</th>
									<th>Imagen</th>
									<th>Editar</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody class="small">
								<tr th:each="categoria : ${categorias}">
									<td class="text-center font-weight-bold align-middle" th:text="${categoria.id_cat}"></td>
									<td class="text-center font-weight-bold align-middle" th:text="${categoria.nombre_cat}"></td>
									<td class="align-middle"><img class="img-fluid img-thumbnail" style="width:7vh; max-width: 100%; height: auto;" 
										th:src="@{'/uploads/categorias/'} + ${categoria.imagen_cat}" alt="Imagen de la categoría" /></td>
									<td class="text-center align-middle">
										<a th:href="@{/categorias/formEditar/} + ${categoria.id_cat}"> 
											<i class="fas fa-edit text-primary"></i> 
										</a>
									</td>
									<td class="text-center align-middle">
										<a class="show-alert" data-toggle="modal" href="#modalCategoria">
											<i class="fas fa-trash-alt text-danger"></i> 
										</a>
									</td>
								
									<!-- Modal -->
									<div class="modal fade" data-backdrop="static" id="modalCategoria" tabindex="-1" role="dialog" 
									aria-labelledby="modalCategoriaLabel"	aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content modal-custom-dialog">
												<div class="modal-header">
												</div>
												<div class="modal-body text-secondary">
													Se va a proceder a eliminar la categoría seleccionada y todos los 
													productos asociados a ella.
													¿Está seguro?
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Cerrar</button>
													<a th:href="@{/categorias/delete/} + ${categoria.id_cat}"
														class="btn btn-danger">Eliminar</a>
												</div>
											</div>
										</div>
									</div>
									<!-- End Modal -->
								
								</tr>
							</tbody>
						</table>


						<div th:unless="${not #lists.isEmpty(categorias.getContent())}">
						<hr class="mt-0" />
							<h6 class="text-info pb-0"
								th:text="'No existen categorías para mostrar'"></h6>
						</div>

					</div>
					<div class="card-footer">
						<nav th:replace="layout/fragments/paginator-nav :: paginator"></nav>
					</div>
				</div>
				<!-- End Card listado categorías -->

				<!-- Footer -->
				<footer th:replace="layout/layout :: footer"></footer>

			</section>


		</div>
		<!-- end main -->

	</div>
	<!-- end row wrapper -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<div th:replace="layout/fragments/scripts :: scripts"></div>

</body>
</html>
