
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$blue: #2e59d9;
$color-delete: #ff6666;
$text-table: #858796;

.wrapper { 

    height:100vh;

        &.row {margin: 0px; }

        .main {  padding:0px;  }

        .main .content {
        	
        	background-color: rgb(241, 242, 245); 
        	min-height: 90vh;         	
        	height: 90vh;
        	display: flex;
  			flex-wrap: wrap;
        	
        		.card { flex-grow: 1; min-height: 65vh; margin: 2.5rem;}
			    .card-header {
			        background-color: #F8F9FC;
			        font-size: 0.5rem;
			    }
			   	.card-footer { background-color: #F8F9FC; }
			    .table {
			        color: #858796;
			        font-weight: 400;
			    }
			   .table-hover tbody tr:hover td.no-bg {
  					background-color: white;
				}
		  }
		nav {
			
		    &.sidebar{ 
		        //    background-image: linear-gradient(to bottom, #2e59d9, #2e59d9, #2e59d9, #2e59d9, #4933ff);
		        background-color:  $blue;
		        width: 30rem;
		        padding: 1rem; 
		    } 
		   
		    &.sidebar a { padding: 0.5rem 1rem 0.2rem 1rem; color:rgb(186, 201, 242);
		    	&:hover { color:white; } 
		   		&.active { color:white; } 
		   		
		  } 
		
		    &.sidebar hr{
		        border: 1rem;
		        height: 0;
		        width:  100%;
		        border-top: 1px solid rgb(186, 201, 242);
		        margin: 0.5rem auto;
		    }
		
		}
}
 
.header{
	
	height: 10vh;

    .divider {
        width: 0;
        height: calc(4.375rem - 2rem);
        border-right: 1px solid #e3e6f0;
        margin: auto 1rem;
     }
    
    img.img-profile{ width: 5rem; height: 5rem; max-width: 100%; height: auto;} 
}

.form-control.alert-danger.focus-error {   
		border-color: rgba(220, 53, 70, 0.8); 
  		box-shadow: 0 0.5px 0.5px rgba(220, 53, 70, 0.075) inset, 0 0 4px rgba(220, 53, 70, 0.6);
  		outline: 0 none;  
  		}


.footer{

   	background-color: transparent; 
   	color:#c9c9c9;
   	padding:0.7rem;
   	align-self: flex-end;
    width: 100%;

        p { margin: 0px; }
}

.modal {	
		.modal-content {     
		    width: 80%;
		    border: 3px solid #dc3545;
    	}
		.modal-header { border-bottom: 0px solid #dee2e6; }
		.modal-footer { border-top: 0px solid #dee2e6; }
}



@import "../bootstrap/scss/bootstrap";